<!DOCTYPE html>
<html lang="">
<head>
    <title>Oh No!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="An error has occurred!">
    <style>
        body {background-color:#ffffff;background-repeat:no-repeat;background-position:top left;background-attachment:fixed;}
        h1{font-family:Arial, sans-serif;color:#000000;background-color:#ffffff;}
        p {font-family:Georgia, serif;font-size:14px;font-style:normal;font-weight:normal;color:#000000;background-color:#ffffff;}
    </style>
</head>
<body>
<h1>Something went wrong!</h1>
<p>An error has occurred! (Status code : 404)</p>
</body>
</html>
